{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
    <link
      class="jsbin"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
      class="jsbin"
      src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    ></script>
    <link rel="stylesheet" href="{% static 'messenger/css/style.css' %}">

    <link href="{% static 'messenger/images/favicon.png' %}" rel="icon">
    <link href="{% static 'messenger/images/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="{% static 'messenger/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'messenger/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'messenger/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'messenger/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'messenger/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'messenger/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'messenger/vendor/simple-datatables/style.css' %}">

    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>

{% block mainmenu %}

      <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src="{% static 'messenger/images/logo.png' %}" alt="">
        <span class="d-none d-lg-block">Post</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


      <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Главная</span>
        </a>
      </li><!-- End Dashboard Nav -->

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="ri-hashtag"></i>
          <span>Обзор</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="bi bi-bell"></i>
          <span>Уведомления</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
          <i class="bi bi-envelope"></i>
          <span>Сообщения</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="ri-bookmark-line"></i>
          <span>Закладки</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="bi bi-person"></i>
          <span>Профиль</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->


{% endblock mainmenu %}

<main id="main" class="main">
{% block content %}

{% endblock %}
</main>

<script src="{% static 'messenger/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'messenger/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'messenger/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'messenger/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'messenger/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'messenger/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'messenger/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'messenger/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'messenger/js/main.js' %}"></script>
</body>
</html>